<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MyKey"
         connectionString="Data Source=C:\\Users\\Gherghina\\Desktop\\Slot Machine\\Casino Royale\\Casino Royale\\Database1.sdf"
         providerName="System.Data.SqlServerCe"/>
  </connectionStrings>
</configuration>